{% extends "layout.njk" %}
{% block  content %}
  <h1>Hi</h1>
  <ul>
    {% for row in rows %}
        <li>
            {% include "post.njk" %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}